

<!-- КОНТЕЙНЕР СО ВСЕМ -->
<div class="mainSection" >

    <!-- ЛИПКИЙ КОНТЕЙНЕР -->

    <div class="sticky">
        <div class="sticky-container">
            <span class="contact-info">
                контактная информация
            </span>
            <div class="border">
                <img src="assets/Line2.png" alt="">
            </div>
            <ul class="images">
                <li>
                    <img src="assets/instagram.png" alt="inst">
                </li>
                <li>
                    <img src="assets/facebook.png" alt="facebook">
                </li>
                <li>
                    <img src="assets/vk.png" alt="vk">
                </li>
                <li>
                    <img src="assets/youtube.png" alt="youtube">
                </li>
            </ul>
        </div>
    </div>

         <!-- ЛИПКИЙ КОНТЕЙНЕР END --->

         <!-- ПЕРВЫЙ БЛОК -->
    <section class="firstPartContainer">
        <!-- ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР  -->
     <section class="headerPlusMain">
        <!-- HEADER -->
        <header class="header">
           <nav class="header-nav">
               <ul class="menu">
                   <li class="navLi">главная</li>
                   <li class="navLi">о театре</li>
                   <li class="navLi">наши постановки</li>
                   <li class="navLi">партнеры театра</li>
                   <li class="navLi">контакты</li>
               </ul>
               <div class="header-phone-container">
                    <span class="header-phone">
                     +7 495 123-45-67
                    </span>
               </div>
            </nav>
       </header>
        <!-- HEADER END -->

        <!-- MAIN  -->
       <main class="main">
           <div class="main-container">
               <div class="main-info">
                   <span class="head">
                       большой театр
                   </span>
                   <span class="main-text">
                       Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.
                   </span>
                   <button class="main-button">
                       афиша
                   </button>
               </div>
               <div class="main-slider">
                   <div class="slider-container">
                       <img src="assets/image3.png" alt="poster image" class="main-img-1">
                       <img src="assets/image3.png" alt="poster image" class="main-img-2">
                   </div>
                   <div class="main-buttons">
                       <span class="l-button">
                           <span>
                               пред
                           </span>
                           <span class="button">
                               &larr; 
                           </span>
                       </span>
                       <span class="r-button">
                           <span>
                               след
                           </span>
                           <span class="button">
                               &rarr; 
                           </span>
                       </span>
                   </div>
               </div>
           </div>
       </main>
     </section>
    <!-- MAIN  END-->
    </section>


    

    <!-- ВТОРОЙ БЛОК -->
    <div class="secondSection">
        <!-- Ограничивающий контейнер -->
        <header class="header"> 
            <div class="parent-container">
                <div class="first-child"> 
                    <!-- ВЕРХНИЙ DIV убрать можно, добавил как контейнер для возможности создания дополнительного флексбокса -->
                    <span class="first-child_">
                        о театре
                    </span>
                </div>
                <div class="second-child">
                <!-- ВЕРХНИЙ DIV убрать можно, добавил как контейнер для возможности создания дополнительного флексбокса -->
                    <ul class="parent-container_">
                        <li class="parentLi">
                            <div class="child-column">
                                <span class="header-info_">
                                    cамый лучший театр СПБ
                                </span>
                                <span class="header-details">
                                    Как свидетельствуют архивные документы, первое каменное здание Большого театра начали возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал с лесов и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному декоратору и архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который и был воплощён архитекторами Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783 году, хотя, основываясь на других свидетельствах, годом открытия можно считать 1784 год.
                                </span>
                            </div>
                        </li>
                        <li class="parentLi">
                            <div class="second-child-column">
                                <span class="header-info_">
                                    немного о цифрах
                                </span>
                                <div class="places1600">
                                    <img src="assets/armchair1.png" alt="картинка">
                                   <p>
                                     <span>
                                         1600 
                                     </span>
                                     посадочных мест
                                   </p>
                                </div>
                                <div class="history350">
                                    <img src="assets/theater1.png" alt="картинка">
                                    <p>
                                        <span>
                                            350 
                                        </span>
                                        лет истории
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="imageLi">
                            <img src="assets/someInfo.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>

<!-- ТРЕТИЙ БЛОК -->

    <section class="ourProduction">
        <div class="productionContainer">
            <div class="productionFlexBox">
                <div class="productionHeader">
                    <span>наши </span> 
                    <span>постановки </span>
                </div>
                <ul class="mainProductionContent">
                    <li class="imageContent">
                        <span>оскар 2020</span>
                        <span>сентябрь 2020</span>
                    </li>
                    <li class="imageContent">
                     <span>
                        <img src="assets/Group9.png" alt="group">
                     </span> 
                    </li>
                    <li class="imageContent">
                        <span>золотой грамофон</span>
                        <span>июль 2020</span>
                    </li>
                    <li class="imageContent">
                        <span>щелкунчик</span>
                        <span>май 2020</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- ЧЕТВЕРТЫЙ БЛОК -->

    <section class="achievs">
        <div class="achievs-container">
            <div class="years-container">
               <span>
                    2018
               </span> 
               <span>
                    2019
                </span> 
                <span>
                    2020
                </span> 
            </div>
            <div class="ahievs-text">
                <img src="assets/stars.png" alt="rating">
                <div class="text-container">
                   <span>
                        Лучший театр
                   </span> 
                   <span>
                        по мнению театральных
                   </span>
                   <span>
                         критиков Парижа
                   </span>
                </div>
            </div>
        </div>
    </section>


    <!-- ПЯТЫЙ БЛОК -->

    <section class="partners">
        <div class="partners-container">
            <div class="partners-text">
                <span>
                    партнеры
                </span>
                <span>
                    театра
                </span>
            </div>
            <ul class="partners-logo-container">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="partners-logo-container">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>


    <!-- ШЕСТОЙ БЛОК (ФОРМА) -->

    <section class="becomePhilantrop">
        <div class="philantrop-container">
            <div class="philantrop-header">
                <span>
                    стать
                </span>
                <span>
                    меценатом
                </span>
            </div>
            <div class="phone-plus-form">
                <ul class="phone-mail">
                    <li>
                        +7 (812) 123-45-55
                    </li>
                    <li>
                        +7 (812) 123-45-66
                    </li>
                    <li>
                        info@theater.ru
                    </li>
                    <li>
                        г. санкт-петербург, невский 140
                    </li>
                </ul>
                <form class="form">
                    <div class="form-container">
                        <div class="input-container">
                            <input type="text" placeholder="Имя">
                            <input type="text" placeholder="Компания">
                            <input type="text" placeholder="Телефон">
                            <input type="text" placeholder="E-mail">
                        </div>
                        <input class="message" type="text" placeholder="Сообщение">
                    </div>
                    <div class="container-button">
                        <span>
                            * Ваши данные не будут переданы третьим лицам, 100% вероятность. Конфиденциальность мы гарантируем, и защищаем персональные данные согласно законку ФЗ-52.
                        </span>
                        <button>
                            отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <!-- СЕДЬМОЙ БЛОК (FOOTER)--> 

    <footer class="footer">
        <div class="footer-container">
            <span>
                (с) Все права защищены. Большой театр. 2020
            </span>
            <span>
                Разработано d-e-n.ru
            </span>
        </div>
    </footer>

</div>


